body {
  background: #2e282a;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
#skills {
  height: 900px;
  position: relative;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #043564;
  background-image: url("http://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 0 50%;
} /* ---- stats.js ---- */

.borders {
  border-radius: 10px;
  color: black;
}

p,
h1 {
  text-align: center;
  padding-top: 100px;
  color: white;
  font-family: "Courier";
  font-size: 40px;
  margin: 0 0 0 10px;
}
.underline {
  text-decoration: underline;
  z-index: 999999;
}
#About {
  height: 900px;
  width: auto;
  /* parallax effect for scrolling */
  background-image: url("https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#exp {
  height: 900px;
  width: auto;
  background-color: black;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  width: 50%;
  margin: 0 auto;
}
@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background-color: #eee;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before {
  background-color: #ffcc33;
}
.bar.back::before {
  background-color: #a6cfe3;
}

.bar.learning::before {
  width: calc(20% - 10px);
}

.bar.intermediate::before {
  width: calc(60% - 10px);
}
.bar.advanced::before {
  width: calc(80% - 30px);
}
.bar.expert::before {
  width: calc(100% - 30px);
}
