@viewport {
  width: device-width;
  zoom: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: cornsilk;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  background: #333;
  height: 5rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

header ul li {
  display: inline-block;
}
header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 2rem;
  padding-bottom: 30px;
}

li a:hover {
  border-bottom: 4px solid darkorange;
  font-weight: bolder;
}

/* main */

/* Scroll top button  */
#topBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px; /* Placing the button */
  right: 30px;
  z-index: 199;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
}

#topBtn:hover {
  background-color: #555;
}

/* hero banner */
#hero-banner {
  height: 55vh;
  width: 100%;
  position: relative;
  background: white;
  text-shadow: 2px 2px 5px white;
}
#hero-banner::before {
  content: "";
  background: url(https://source.unsplash.com/1_CMoFsPfso/1600x900) no-repeat
    center center/cover;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 10;
  line-height: 2rem;
}

h2 {
  margin: 10px;
}

#about-me {
  display: flex;
}
#about-me-text p {
  padding: 1rem;
}

#myphoto {
  width: 15%;
  border-radius: 50%;
  min-width: 280px;
}

td {
  padding: 1rem;
}
.school {
  padding: 0 1rem;
}
#cards {
  display: flex;
  justify-content: space-around;
  margin: 30px 20px;
}
#cards div {
  background-color: wheat;
  border-radius: 5px;
  height: 10rem;
  width: 10rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.icon {
  font-size: 3rem;
}
.container {
  padding: 3rem;
  padding-top: 4.5rem;
  width: 100%;
  line-height: 1.5rem;
}

/* footer */
footer {
  background-color: #333;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 1.5rem;
}
#cv-btn {
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  font-size: 1rem;
}

#cv-btn:hover {
  background-color: rgb(110, 109, 109);
}
#mail-to:hover {
  color: orange;
}
/* This makes page responsive */
@media screen and (max-width: 620px) {
  #about-me,
  #cards,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li a:hover {
    border-bottom: 0;
  }
  header a {
    padding: 0 2rem;
  }
}

/* For big screens */
@media screen and (min-width: 992px) {
  .container {
    padding-right: 12rem;
    padding-left: 12rem;
  }
  #myphoto {
    margin-left: 3rem;
  }
}
